# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\BaiduNetdiskDownload\图灵学院架构师\00 源码课件\源码\源码分析专专题【更多IT课程，请加微信642620018】\tuling-vip-spring-master\tuling-vip-spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
